{{define "title"}}How to Tip in... A Tipping Guide to the World{{end}}

{{define "header"}}
  <div layout="column" flex="60" layout-align="center center" layout-padding class="country-image"
      background-image="new-york.jpg">

    {{template "toolbar"}}

    <h1 class="md-display-4">How to Tip In...</h1>
  </div>
{{end}}

{{define "body"}}
  <div layout-padding class="max-width">
    <h3 class="md-display-1">Please select a country:</h3>
  </div>

  <div layout-padding class="center max-width">
    {{range .Countries}}
      <md-button link-to="/{{.Slug}}">{{.Name}}</md-button>
    {{end}}
  </div>
{{end}}